body {
    max-width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#rubrik {
    background-color: #f2f0da;
    width: auto;
    height: 120px;
    padding-top: 15px;
    color: #978e6a;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
}

#underrubrik {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.link {
    text-align: center;
    display: inline-block;
    color: #595757;
    text-indent: 20px;
    text-decoration-style: dotted;
}

#meny {
    padding: 16px 0px;
    border-bottom: 1px solid #dfdada;
    max-width: 600px;
    text-align: center;
    overflow: hidden;
    color: #dfdada;

}

#ragdoll {
    text-align: center;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

.katt {
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
}

.image {
    background-image: url("ragboll.jpg");
    height: 230px;
    width: 230px;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid black;
    border-bottom-width: 4px;
}

h3 {
    text-align: left;
    font-size: 14px;
}

.text {
    text-align: left;
    line-height: 1.4;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.text2 {
    text-align: left;
    line-height: 1.4;
    border-bottom: 1px solid #dfdada;
    padding-bottom: 20px;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    margin: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
}