#rubrik {
    background-color: #f0ebc1;
    width: 700px;
    height: 140px;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    color: #bfa581;
    overflow: hidden;
}

#underrubrik {
    font-size: 20px;
}

.link {
    text-align: center;
    display: inline-block;
    color: black;
    text-indent: 20px;
}

#meny {
    padding: 20px 0px;
    border-bottom: 1px solid #dfdada;
    max-width: 700px;
    text-align: center;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}