#rubrik {
    background-color: #f0ebc1;
    width: 600px;
    height: 140px;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    color: #bfa581;
}

#underrubrik {
    font-size: 20px;
}

.link {
    text-align: center;
    display: inline-block;
}

#meny {
    padding: 20px;
    border-bottom: 1px solid #dfdada;
    text-align: center;
    margin-left: 25vw;
    margin-right: 25vw;
}